<html>
    <%- include('./partials/head.ejs'); %>
                <body class="forumLink">
                    <%- include('./partials/nav.ejs'); %>

                    <h1>FORUM</h1>

                </body>
                <%- include('./partials/footer.ejs'); %>
            </html>