<html>
    <%- include('./partials/head.ejs'); %>
                <body>
                    <%- include('./partials/nav.ejs'); %>

                    <form method='POST' action='/login'>
                        <input type='text' placeholder='Name' name='username'/>
                        <input type='password' placeholder='Password' name='password'/>
                        <button type='submit'>Log In</button>
                    </form>
                </body>
                <%- include('./partials/footer.ejs'); %>
            </html>

            <!-- error text on ejs for unmatched passwords or usernames -->
