<html>
    <%- include('./partials/head.ejs'); %>
                <body>
                    <%- include('./partials/nav.ejs'); %>

                    <h1>USER PROFIL</h1>

                </body>
                <%- include('./partials/footer.ejs'); %>
            </html>