
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User View</title>
</head>

<body>
    <%- include('./partials/nav.ejs'); %>
    <p>Welcome, <%= user.username %></p>
</body>
<%- include('./partials/footer.ejs'); %>
</html>
